@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body{
    background: rgb(175, 122, 190);
    font-family: 'Press Start 2P', cursive;
    color: rgb(105, 121, 113);
    margin: 0;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    row-gap: 0;
    column-gap: 0;
    position: relative;
    min-height: 100%;
    margin-bottom: 20px;
    width: 100%;
}
.p{
    padding: 10px;
    margin-top: 30%;
    text-align: center;

}

.container-gallery{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    min-height: 100%;
    position: relative;
    margin-bottom: 40px;

}
.responsive { 
    padding: 6px 6px;
    flex: 600px;
}
.responsive-formation { 
    padding: 6px 6px;
    flex: 25%;
}

.responsive-Wide-Box { 
    padding: 6px 6px;
    flex: 300px;
    flex-basis: 100%;
    min-height: 200px;
}
.responsive-half-box { 
    padding: 6px 6px;
    flex: 300px;
    flex-basis: 50%;
    min-height: 200px;
}

div.gallery:hover{
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
.gallery-formation{
    width: 50%;
    height: auto;
}
div.desc {
padding: 15px;
text-align: center;
}
*{
    box-sizing: border-box;
}
nav{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    padding: 10px;
}
.dropdown{
    float: left;

}
.dropdown .dropbtn{
    border: none;
    outline: none;
    margin: 0;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.514);
    font-family: inherit;
    font-size: medium;
}
.dropdown-content a{
    float:none;
    background-color:#777 ;
    color: azure;
    padding: 10px;
}
.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.5);
    z-index: 100;
}
.dropdown:hover .dropdown-content{
    display: grid;
    min-width: 128px;
}
nav a {
    text-decoration: none;
    display: block;
    float: left;
    font-size: medium;
}
nav a:hover, .dropdown:hover{
    transition-duration: .6s;
    background-color: white;
    color: #1b1b1b;
}
.item-1{
    display: flex;
}
.item-2{
    display: flex;
    color: rgb(255, 255, 255);
    margin: 80px 30px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    line-height: 25px;
    letter-spacing: 5px;
    
}
.item-2:hover{
    display: flex;
    color: rgb(72, 229, 5);
    text-shadow: 10px 10px 10px rgb(188, 229, 5) ;
    text-shadow: 5px 5px 5px rgb(185, 210, 74) ;
    transition: 500ms ease;
    margin: 80px 30px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bold;
    font-size: medium;
    text-align: center;
    line-height: 25px;
    letter-spacing: 5px;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.intro{
    grid-column: 1/2;
    grid-row: span 4;
    background-color: #777;
    color: rgb(250, 248, 248);
    margin: 20px;
    padding: 20px;
    
}
.box-1{
    display:grid;
    grid-column: 2/6 ;
    grid-row: span 2;
    grid-area: "box-1";
    background-color: rgb(129, 199, 121);
    color: white;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}
.box-2{
    display:grid;
    grid-column: 2/6;
    grid-row:span 2;
    grid-area: "box-2";
    background-color: rgb(227, 167, 48);
    color: white;
    gap: 10px;
    margin: 20px;
    padding: 20px;
}
img{
    object-fit:cover;
    width: 100%;
    height: 300px;
}
footer{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px;
    background-color: rgb(0, 0, 0);;
    color: white;
    font-size: small;
}
.menu{
    color:rgb(255, 255, 255);
    padding: 10px; 
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}
table{
    border: 1px solid;
    width: 80%;
}
.tableheader{
    text-align: left;
    background-color:rgba(105, 121, 113, 0.356);
    color:rgb(255, 255, 255);
}
form{
    display: inline-block;
    text-align: center;
    background: #777;
    color: white;
    width: 500px;
    height:500px; 
    margin-bottom: 80px;
}
#message{
    display: inline-block;
    text-align: center;
    background: rgb(249, 247, 247);
    color: white;
}
input[type=text]{
    display: inline-block;
    margin: 20px;
    margin-bottom: 10px;
    border-bottom: rgb(175, 122, 190);
    line-height: 10px;
}
input{
    width: 80%;
    margin: 20px;
}
.contact-title{
    text-align: center;
    color: white;
    padding: 20px;
}
.center{
    text-align: center;
}
label{
    color: rgb(253, 250, 250);
    padding: 20px;
}

@media screen and (max-width:720px) {
    .aside{
        grid-column: span 6;
        grid-row: span 1;
    background-color: #777;
    color: rgb(250, 248, 248);
    }
    .aside-2{
        grid-column: span 6;
        grid-row: span 1;
    background-color: rgb(129, 199, 121);
    color: rgb(250, 248, 248);
    }
    .aside-3{
        grid-column: span 6;
        grid-row: span 1;
    background-color: rgb(227, 167, 48);
    color: rgb(255, 255, 255);
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3,1fr);
        margin: 50px;
        text-align: center;
        justify-content: center;
    }
    nav a {
        text-decoration: none;
        display: block;
        float: left;
        font-size: small;
        justify-content: center;
    }

}  

